<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
                                                                                 
          <div class="col-md-12">
            <h1>Main Content</h1>
            <p>This is the main content area.</p>
          </div>
        </div>
  
        <!-- Carousel Section -->
        <section id="carouselSection">
          <div class="row">
            <div class="col-md-12">
              <p *ngIf="exibirMensagem" class="text-center mt-2 mb-4" style="width:50%;margin: 0 auto;background-color: midnightblue;color:white;font-style: italic;"> {{mensagem}}</p>
              <div class="container mt-5">
                <h2 class="mb-4" style="color: rgb(68, 3, 129);">Cadastro de Calendário de Aulas</h2>
                <form (ngSubmit)="cadastrarCalendarios()" style="max-height: 400px; overflow-y: auto;">
                      <!-- Adicione a barra de rolagem à esta div -->
                  <div style="max-height: 300px; overflow-y: auto;">
                  <div *ngFor="let disciplina of disciplinas; let i = index" class="card mb-4">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="nome{{i}}">Disciplina:</label>
                        <input type="text" class="form-control" [(ngModel)]="disciplina.nome" id="nome{{i}}" name="nome">
                      </div>
                      <div class="form-group">
                        <label>Dias da Semana:</label>
                        <div class="form-check" *ngFor="let dia of diasSemana">&nbsp;
                          <input type="checkbox"  [checked]="isDiaSelecionado(disciplina, dia)" (change)="toggleDiaSelecionado(disciplina, dia)" [value]="dia" class="form-check-input ">
                          <label style="margin-left: 20px;" class="form-check-label  mr-5" >{{ dia }}</label>
                        </div>
                      </div>
                      <div *ngIf="disciplina.nome">
                        <div *ngFor="let horario of disciplina.horarios; let j = index" class="horario-group">
                          <hr>
                          <div class="form-group">
                            <label for="horaInicio{{i}}_{{j}}">Hora de Início:</label>
                            <input type="time" class="form-control" [(ngModel)]="horario.horaInicio" id="horaInicio{{i}}_{{j}}" name="horaInicio">
                          </div>
                          <div class="form-group">
                            <label for="horaFim{{i}}_{{j}}">Hora de Término:</label>
                            <input type="time" class="form-control" [(ngModel)]="horario.horaFim" id="horaFim{{i}}_{{j}}" name="horaFim">
                          </div>
                          <div class="form-group">
                            <label for="tempo{{i}}_{{j}}">Tempo da Aula (minutos):</label>
                            <input type="number" class="form-control" [(ngModel)]="horario.tempo" id="tempo{{i}}_{{j}}" name="tempo" min="1">
                          </div>
                          <button type="button" class="btn btn-danger" (click)="removerHorario(i, j)">Remover Horário</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <button type="button" class="btn btn-success" (click)="adicionarDisciplina()">Adicionar Disciplina</button>
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
              </div>
            </div>  
            </div>
        </section>
      </div>
    </section>
    <!-- /.content -->
  </div>
  