<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>Main Content</h1>
            <p>This is the main content area.</p>
          </div>
        </div>
       
        
  
        <!-- Carousel Section -->
        <section id="carouselSection">
          <div *ngIf="mostrarProgress" class="text-center" style="margin: 20%;">
              <div class="spinner-border spinner-border-lg text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
          <div *ngIf="!mostrarProgress" class="row">
            <div class="col-md-12 scrollbar">
              <div class="container mb-5" style="max-height: 400px; overflow-y: auto;">
                <h3 style="font-weight: bold;">Tabela de Notas Iº Trimestre</h3>
                <div class="table-responsive">
                  <table class="table">
                    <thead style="color:whitesmoke;background-color: rgb(68, 3, 129);">
                      <tr>
                        <th>Disciplina</th>
                        <th>MAC1</th>
                        <th>NPP1</th>
                        <th>NPT1</th>
                        <th>MEDIA Iº TRIMESTRE</th>
                        
                        <!-- Adicione mais cabeçalhos conforme necessário -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let nota of notas">
                        <td>{{ nota.disciplina }}</td>
                        <td>{{ nota.mac1 }}</td>
                        <td>{{ nota.npp1 }}</td>
                        <td>{{ nota.npt1  }}</td>
                        <td>{{ nota.notaPrimeiroTrimestre  }}</td>
                        
                        <!-- Adicione mais células conforme necessário -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="container mb-5" style="max-height: 400px; overflow-y: auto;">
                <h3 style="font-weight: bold;">Tabela de Notas IIº Trimestre</h3>
                <div class="table-responsive">
                  <table class="table">
                    <thead style="color:whitesmoke;background-color: rgb(68, 3, 129);">
                      <tr>
                        <th>Disciplina</th>
                        <th>MAC2</th>
                        <th>NPP2</th>
                        <th>NPT2</th>
                        <th>MEDIA IIº TRIMESTRE</th>
                        
                        <!-- Adicione mais cabeçalhos conforme necessário -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let nota of notas">
                        <td>{{ nota.disciplina }}</td>
                        <td>{{ nota.mac2 }}</td>
                        <td>{{ nota.npp2 }}</td>
                        <td>{{ nota.npt2  }}</td>
                        <td>{{ nota.notaSegundoTrimestre  }}</td>
                        <td></td>
                        <!-- Adicione mais células conforme necessário -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="container mb-5" style="max-height: 400px; overflow-y: auto;">
                <h3 style="font-weight: bold;">Tabela de Notas IIIº Trimestre</h3>
                <div class="table-responsive">
                  <table class="table">
                    <thead style="color:whitesmoke;background-color: rgb(68, 3, 129);">
                      <tr>
                        <th>Disciplina</th>
                        <th>MAC3</th>
                        <th>NPP3</th>
                        <th>NPT3</th>
                        <th>MEDIA IIIº TRIMESTRE</th>
                        
                        <!-- Adicione mais cabeçalhos conforme necessário -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let nota of notas">
                        <td>{{ nota.disciplina }}</td>
                        <td>{{ nota.mac3 }}</td>
                        <td>{{ nota.npp3 }}</td>
                        <td>{{ nota.npt3  }}</td>
                        <td>{{ nota.notaTerceiroTrimestre  }}</td>
                        
                        <!-- Adicione mais células conforme necessário -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="container mb-6" style="max-height: 400px; overflow-y: auto;">
                <h3 style="font-weight: bold;">Tabela de Resultado Finais</h3>
                <div class="table-responsive">
                  <table class="table">
                    <thead style="color:whitesmoke;background-color: rgb(68, 3, 129);">
                      <tr>
                        <th>Disciplina</th>
                        <th>Nota Final Da<br> Disciplina</th>
                        <th>Media do Exame <br> Combinado</th>
                        <th>Nota Final</th>
                        
                        <!-- Adicione mais cabeçalhos conforme necessário -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let nota of notas">
                        <td>{{ nota.disciplina }}</td>
                        <td>{{ nota.nfd }}</td>
                        <td>{{ nota.mec }}</td>
                        <td>{{ nota.notaFinal  }}</td>
                        
                        <!-- Adicione mais células conforme necessário -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <!-- /.content -->
  </div>
