<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
                                                                                 
          <div class="col-md-12">
            <h1>Main Content</h1>
            <p>This is the main content area.</p>
          </div>
        </div>
  
        <!-- Carousel Section -->
        <section id="carouselSection">
          <div class="row">
            <div class="col-md-12">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-6" style="margin-top: 10%;">
                    <h2 class="text-center">Cadastro de Curso</h2>
                    <form [formGroup]="cursoForm2">
                      <div class="form-group">
                        <label for="nome" class="font-size-large">Nome do Curso</label>
                        <input formControlName="nome" type="text" required class="form-control form-control-lg" id="nome" placeholder="Digite o nome do curso">
                      </div>
                      <div class="form-group">
                        <label for="duracao" class="font-size-large">Criação de Um Novo Curso Na Escpola</label>
                        <input disabled type="number" class="form-control form-control-lg" id="duracao" placeholder="Informe o Curso Acima">
                      </div>
                      <button type="button" (click)="cadastrarCurso()" [disabled]="!cursoForm2.valid" class="btn btn-primary btn-lg btn-block">Cadastrar Curso</button>
                    </form>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>
        </section>
      </div>
    </section>
    <!-- /.content -->
  </div>

