<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>Main Content</h1>
            <p>This is the main content area.</p>
          </div>
        </div>
  
        <!-- Carousel Section -->
        <section id="carouselSection">
          <div class="row">
            <div class="col-md-12 scrollbar">
              <div class="container mt-2 mb-3">
                <h1 class="mb-2" style="font-weight: bold;">Registro dos Seus Pagamentos</h1>
                <div class="table-responsive">
                  <table class="table">
                    <thead style="color:whitesmoke;background-color: rgb(68, 3, 129);">
                      <tr>
                        <th>Janeiro</th>
                        <th>Fevereiro</th>
                        <th>MArço</th>
                        <th>Abril</th>
                        <th>Maio</th>
                        <th>Junho</th>
                        <th>Julho</th>
                        <th>Agosto</th>
                        <th>Setembro</th>
                        <th>Outubro</th>
                        <th>Novembro</th>
                        <th>Dezembro</th>
                        
                        <!-- Adicione mais cabeçalhos conforme necessário -->
                      </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                      <tr>
                        <td>{{ pagamento.janeiro}} Kz</td>
                        <td>{{ pagamento.fevereiro}} Kz</td>
                        <td>{{ pagamento.marco}} Kz</td>
                        <td>{{ pagamento.abril}} Kz</td>
                        <td>{{ pagamento.maio}} Kz</td>
                        <td>{{ pagamento.junho}} Kz</td>
                        <td>{{ pagamento.julho}} Kz</td>
                        <td>{{ pagamento.agosto}} Kz</td>
                        <td>{{ pagamento.setembro}} Kz</td>
                        <td>{{ pagamento.outubro}} Kz</td>
                        <td>{{ pagamento.novembro}} Kz</td>
                        <td>{{ pagamento.dezembro}} Kz</td>
                        
                        <!-- Adicione mais células conforme necessário -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </section>
      </div>
    </section>
    <!-- /.content -->
  </div>
