<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>Main Content</h1>
            <p>This is the main content area.</p>
          </div>
        </div>
  
        <!-- Carousel Section -->
        <section id="carouselSection">
          <div class="row">
            <div class="col-md-12 scrollbar">
              <div class="container mb-3">
                <h1>Registro dos Seus Pagamentos</h1>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Janeiro</th>
                        <th>Fevereiro</th>
                        <th>MArço</th>
                        <th>Abril</th>
                        <th>Maio</th>
                        <th>Junho</th>
                        <th>Julho</th>
                        <th>Agosto</th>
                        <th>Setembro</th>
                        <th>Outubro</th>
                        <th>Novembro</th>
                        <th>Dezembro</th>
                        
                        <!-- Adicione mais cabeçalhos conforme necessário -->
                      </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                      <tr>
                        <td>{{ pagamento.janeiro }}</td>
                        <td>{{ pagamento.fevereiro }}</td>
                        <td>{{ pagamento.marco }}</td>
                        <td>{{ pagamento.abril  }}</td>
                        <td>{{ pagamento.maio  }}</td>
                        <td>{{ pagamento.junho  }}</td>
                        <td>{{ pagamento.julho  }}</td>
                        <td>{{ pagamento.agosto  }}</td>
                        <td>{{ pagamento.setembro  }}</td>
                        <td>{{ pagamento.outubro  }}</td>
                        <td>{{ pagamento.novembro  }}</td>
                        <td>{{ pagamento.dezembro  }}</td>
                        
                        <!-- Adicione mais células conforme necessário -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </section>
      </div>
    </section>
    <!-- /.content -->
  </div>
