body {
    background: url('https://caminho/para/sua/imagem.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 40px; /* Ajuste o padding para aumentar o tamanho do formulário */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px; /* Define a largura máxima do formulário */
    width: 100%; /* Garante que o formulário ocupa 100% da largura máxima */
    margin: auto; /* Centraliza o formulário */
  }
  
  .form-group input {
    width: 100%;
    padding: 15px; /* Ajuste o padding para aumentar o tamanho dos campos de entrada */
    margin: 10px 0; /* Ajuste a margem para aumentar o espaçamento entre os campos de entrada */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-login {
    width: 100%;
    padding: 15px; /* Ajuste o padding para aumentar o tamanho do botão */
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  