<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <style>
    /* Estilos específicos para esta página */
    body {
      background: url('../assets/images/bg-01.jpg') no-repeat center center fixed;
      background-size: cover;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="container">
        <div class="form-container">
          <div class="form-group mb-2">
             <p style="margin: 0 auto;color: crimson;">{{login2.mensagem}}</p>
          </div>
          <h2>Acesso Ao Sistema !</h2>
          <form [formGroup]="detalheLogin">
            <div class="form-group">
              <label for="username">Usuário:</label>
              <input type="text" formControlName="username" id="username" class="form-control" placeholder="Digite seu usuário">
            </div>
            <div class="form-group">
              <label for="password">Senha:</label>
              <input type="password" formControlName="password" id="password" class="form-control" placeholder="Digite sua senha" >
            </div>
            <button type="button" (click)="login()" [disabled]="!detalheLogin.valid" class="btn btn-login">Entrar</button>
          </form>
        </div>
      </div>
      
  </div>
  <script src=""></script> <!-- Caminho para seu arquivo JavaScript -->
</body>
</html>
