select.form-control option {
    font-size: 18px; /* Altere o valor conforme desejado */
  } 

  @media (max-width: 768px) {
    /* Reduz a altura máxima em dispositivos móveis */
    div[style="max-height: 400px; overflow-y: auto;"] {
      max-height: 200px; /* Ajuste conforme necessário */
    }
  }
  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  .spinner-border {
    width: 6rem; /* Altere este valor conforme necessário */
    height: 6rem; /* Altere este valor conforme necessário */
}
  