<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>Main Content</h1>
            <p>This is the main content area.</p>
          </div>
        </div>
  
        <!-- Carousel Section -->
        <section id="carouselSection">
          <div class="row">
            <div class="col-md-12">

              <p *ngIf="exibirMensagem" class="text-center mt-2 mb-4" style="width:50%;margin: 0 auto;background-color: midnightblue;color:white;font-style: italic;"> Preços Cadastrados Com Sucesso !</p>
                <div class="text-center mb-4">
                    <h3 style="color: rgb(68, 3, 129);"> Cadastrar Os Preços dos Cursos</h3>
                </div>
                <table class="table">
                  <thead>
                      <tr>
                          <th>Curso</th>
                          <th>Nível</th>
                          <th>Preço</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let preco of precos">
                          <td>{{ preco.nome }}</td>
                          <td>
                              <select class="form-control" [(ngModel)]="preco.nivel">
                                  <option disabled selected>Selecione o Nível</option>
                                  <option value="10">10º Classe</option>
                                  <option value="11">11º Classe</option>
                                  <option value="12">12º Classe</option>
                                  <option value="13">13º Classe</option>
                              </select>
                          </td>
                          <td>
                              <input type="number" class="form-control" [(ngModel)]="preco.valor" min="0" placeholder="Preço" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
              
                    <div class="text-center">
                      <button style="color: white;background-color: darkgreen;width: 50%;" (click)="cadastrarPrecos()"> Cadastrar Preços</button>
                  </div>
                    
                 
            </div>
          </div>
        </section>
      </div>
    </section>
    <!-- /.content -->
  </div>
