.custom-border {
    border: 3px solid #3498db; /* Cor da borda azul (substitua pela cor desejada) */
    border-radius: 10px; /* Borda arredondada (ajuste conforme necessário) */
    padding: 20px; /* Espaçamento interno para destacar a borda */
    box-shadow: 1px 1px 8px black;
  }
  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  .spinner-border {
    width: 6rem; /* Altere este valor conforme necessário */
    height: 6rem; /* Altere este valor conforme necessário */
}
  