<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>Main Content</h1>
            <p>This is the main content area.</p>
          </div>
        </div>
  
        <section id="carouselSection">
            <div class="row">
              <div class="col-md-12">
                <div class="container">
                  <div *ngIf="mensagem">
                      <p  class="text-center mt-2 mb-4" style="width:50%;margin: 0 auto;background-color: midnightblue;color:white;font-style: italic;"> {{detalhesAluno.mensagem}}</p>
                      <div class="text-center mb-2"> <!-- Adicionando a classe 'text-center' para centralizar o botão -->
                        <button (click)="imprimirRelatorio()" class="btn btn-primary btn-lg" style="width:30%">Relatorio</button> <!-- Adicionando a classe 'btn-lg' para aumentar o tamanho do botão -->
                      </div>
                  </div>
                </div>
                <div class="container" style="max-height: 95%; overflow-y: auto;overflow-x: auto;">
                  <div class="row justify-content-center">
                    <div *ngIf="mostrarGeral" class="col-md-6" style="margin-top: 10%;">
                      <div *ngIf="inicio" class="custom-border">
                        
                        <h2 class="text-center" style="color: rgb(68, 3, 129);">Pesquisar o(a) Estudante</h2>
                        <form [formGroup]="dadosAluno">
                          <div class="form-group">
                            <label for="idAluno" class="font-size-large">Id de Estudante</label>
                            <input formControlName="idAluno" type="number" required class="form-control form-control-lg" id="idAluno" placeholder="Digite o Id de Estudante">
                          </div>
                          <div class="form-group">
                            <label for="idTurma" class="font-size-large">Id da Turma</label>
                            <input formControlName="idTurma" type="number" required class="form-control form-control-lg" id="idTurma" placeholder="Digite o Id da Turma">
                          </div>
                          <div class="form-group">
                            <label for="duracao" class="font-size-large">Pesquise os dados de Um Estudante Em Minutos</label>
                            <input disabled type="number" class="form-control form-control-lg" id="duracao" placeholder="Informe os dados do Estudante Acima">
                          </div>
                          <button type="button" (click)="pesquisar()" class="btn btn-primary btn-lg btn-block">Pesquisar</button>
                        </form>
                      </div>
                        
                      <div *ngIf="detalhes_aluno" style="max-height: 90%; overflow-y: auto;">
                         <!-- src/app/aluno-form/aluno-form.component.html -->
                          <div class="container mt-2" style="max-height: 400px; overflow-y: auto;">
                            <h2 style="color: rgb(68, 3, 129);">Detalhes do Aluno</h2>
                            <form >
                              <!-- Seção 1: Detalhes do Aluno -->
                              <div class="aluno-section mt-2 mb-2" style="border-top-left-radius: 10px;border-bottom-right-radius: 10px;border: 3px solid rgb(68, 3, 129);padding: 10px;margin-bottom: 8px;box-shadow: 1px 1px 5px black;">
                                <div class="form-group">
                                  <label for="nome">ID:  <span> {{detalhesAluno.id}} </span></label>
                                </div>
                                <div class="form-group">
                                  <label for="matricula">Nome: <span> {{detalhesAluno.nome}} </span></label>
                                  </div>
                                <div class="form-group">
                                  <label for="curso">Curso: <span> {{detalhesAluno.curso}} </span></label>
                                </div>
                                <hr>
                                <div class="form-group">
                                  <label for="meses">Meses Não Pagos: </label>
                                </div>
                                <!-- Mostrar a lista de meses pagos -->
                                <div *ngIf="mesesAPagar.length > 0" class="form-group custom-border mt-2">
                                  <ul>
                                    <li *ngFor="let mes of mesesAPagar">{{ mes }}</li>
                                  </ul>
                                </div>
                              </div>
                              
                              

                              <!-- Seção 2: Pagamento de Propinas -->
                              <div class="pagamento-section  mt-2 mb-2" style="border-top-left-radius: 10px;border-bottom-right-radius: 10px;border: 3px solid rgb(68, 3, 129);padding: 10px;margin-bottom: 8px;box-shadow: 1px 1px 5px black;">
                                <h2>Pagamento de Propinas</h2>
                                <div class="form-group">
                                  <label for="mesesPropina">Pagar Quantos meses:</label>
                                  <input type="number" class="form-control" id="mesesPropina" placeholder="Quantidade de Meses" [(ngModel)]="mesesPropina" name="mesesPropina" required>
                                </div>
                              </div>

                              <div class="text-center"> <!-- Adicionando a classe 'text-center' para centralizar o botão -->
                                <button (click)="pagarPropina()" class="btn btn-primary btn-lg" style="width:50%">Pagar Propina</button> <!-- Adicionando a classe 'btn-lg' para aumentar o tamanho do botão -->
                              </div>
                            </form>
                          </div>
                    </div>
                    </div>
                  </div>
                  <div *ngIf="!mostrarGeral" class="col-md-6" style="margin-top: 10%;">
                    <mat-card>
                      <mat-card-header>
                        <mat-card-title>Relatório</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <button mat-raised-button color="primary" (click)="regressar()">Regressar</button>
                        <div *ngIf="relatorio">
                          <!-- Exiba os bytes do relatório como desejar -->
                          {{ relatorio | json }}
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
                
                
              </div>
            </div>
          </section>
      </div>
    </section>
    <!-- /.content -->
  </div>
