<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>Main Content</h1>
            <p>This is the main content area.</p>
          </div>
        </div>
  
        <section id="carouselSection">
            <div class="row">
              <div class="col-md-12">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-md-6" style="margin-top: 10%;">
                        
                        
                        <div *ngIf="mostrar1" style="border: 3px solid rgb(7, 24, 117);padding: 20px;border-bottom-right-radius: 30px;border-top-left-radius: 30px;box-shadow: 1px 1px 4px rgb(7, 24, 117);" >
                            <h2 class="text-center">Pesquisar Turmas</h2>
                            <form>
                               <div class="form-group" style="width: 80%;">
                                <label for="curso" style="font-size: 18px;">Curso</label>
                                <select class="form-control" id="curso" [(ngModel)]="selectedCurso" name="selectedCurso">
                                  <option *ngFor="let curso of cursos2" [value]="curso.id">{{ curso.nome }}</option>
                                </select>
                              </div> 
                              <div class="form-group" style="width: 80%;">
                                <label for="turno" style="font-size: 18px;">Turno</label>
                                <select class="form-control" id="turno" [(ngModel)]="selectedTurno" name="selectedTurno">
                                  <option  value="Manha">Manhã</option>
                                  <option  value="Tarde">Tarde</option>
                                  <option  value="Noite">Noite</option>
                                </select>
                              </div>
                              <div class="form-group" style="width: 80%;">
                                <label for="nivel" style="font-size: 18px;">Nivel</label>
                                <select class="form-control" id="nivel" [(ngModel)]="selectedNivel" name="selectedNivel">
                                  <option  value="10">10º Classe</option>
                                  <option  value="11">11º Classe</option>
                                  <option  value="12">12º Classe</option>
                                  <option  value="13">13º Classe</option>
                                </select>
                              </div>
                              
                              <div class="form-group">
                                <label for="duracao" class="font-size-large">Pesquise os dados de Um Estudante Em Minutos</label>
                                <input disabled type="number" class="form-control form-control-lg" id="duracao" placeholder="Informe os dados do Estudante Acima">
                              </div>
                              <button type="button" (click)="pesquisar()" class="btn btn-primary btn-lg btn-block">Pesquisar</button>
                            </form>
                        </div>

                        <div *ngIf="mostrar2" style="border: 3px solid rgb(7, 24, 117);padding: 20px;border-bottom-right-radius: 30px;border-top-left-radius: 30px;box-shadow: 1px 1px 4px rgb(7, 24, 117);">
                            <h2 class="text-center">Matricular o(a) Estudante</h2>
                            <form>
                               <div class="form-group" style="width: 80%;">
                                <label for="curso" style="font-size: 18px;">Turmas</label>
                                <select class="form-control" id="curso" [(ngModel)]="selectedTurma" name="selectedTurma">
                                    <option disabled selected>Selecione Uma Turma</option>
                                    <option disabled ></option> 
                                    <option *ngFor="let turma of turmas" [value]="turma.id">{{ turma.nome }}</option>
                                </select>
                              </div> 
                              <div class="form-group">
                                <label for="nome" class="font-size-large">Nome do Aluno</label>
                                <input [(ngModel)]="nome" name="nome" type="text" required class="form-control form-control-lg" id="nome" placeholder="Digite o nome do Aluno">
                              </div>
                              <div class="form-group">
                                <label for="bi" class="font-size-large">Bilhete de Identidade</label>
                                <input [(ngModel)]="bi" name="bi" type="text" required class="form-control form-control-lg" id="bi" placeholder="Informe o BI do Aluno">
                              </div>
                              
                              
                              
                              <div class="form-group">
                                <label for="duracao" class="font-size-large">Cadastre o Aluno Na Turma a Sua Escolha</label>
                                <input disabled type="number" class="form-control form-control-lg" id="duracao" placeholder="Informe os dados do Estudante Acima">
                              </div>
                              <button type="button" (click)="matricular()" class="btn btn-primary btn-lg btn-block">Matricular</button>
                            </form>
                        </div>
                        
                        
                    
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
          </section>
      </div>
    </section>
    <!-- /.content -->
  </div>
